openapi: 3.2.0
info:
  title: Red Hat 3scale Service Management O Auth API
  description: The 3scale Service Management API allows API providers to control and manage access to their APIs, track usage, and enforce traffic policies. It is used by the APIcast API gateway to authorize and report API calls in real time. The API supports both API key and OAuth 2.0 based authorization flows.
  version: '1'
  contact:
    name: Red Hat 3scale Support
    url: https://access.redhat.com/support
  termsOfService: https://www.redhat.com/en/about/agreements
servers:
- url: https://su1.3scale.net
  description: 3scale Service Management API
security:
- providerKey: []
tags:
- name: OAuth
  description: OAuth 2.0 token authorization endpoints
paths:
  /transactions/oauth_authorize.xml:
    get:
      operationId: oauthAuthorize
      summary: Authorize OAuth Token
      description: Authorizes an OAuth 2.0 access token against the 3scale service, checking whether the token is valid and within usage limits. Returns the application and plan details associated with the token.
      tags:
      - OAuth
      parameters:
      - name: provider_key
        in: query
        required: true
        description: The provider key identifying your 3scale account
        schema:
          type: string
      - name: access_token
        in: query
        required: true
        description: The OAuth 2.0 access token to authorize
        schema:
          type: string
      - name: service_id
        in: query
        required: false
        description: The ID of the service being accessed
        schema:
          type: string
      responses:
        '200':
          description: OAuth token authorized successfully
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/OAuthAuthorizeResponse'
        '403':
          description: Token invalid or limits exceeded
components:
  schemas:
    OAuthAuthorizeResponse:
      type: object
      properties:
        status:
          type: string
        application:
          type: object
          properties:
            id:
              type: string
            key:
              type: string
            redirect_url:
              type: string
  securitySchemes:
    providerKey:
      type: apiKey
      in: query
      name: provider_key
externalDocs:
  description: Red Hat 3scale API Authentication Documentation
  url: https://access.redhat.com/documentation/en-us/red_hat_3scale_api_management/2.14/html/api_authentication/index
